@import "variables";
@import "scrollbar";
@import "navbar";
@import "footer";
@import "page-header";
@import "slideshow";
@import "gallery";
@import "menu-list";
@import "home";
@import "contact-form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Halant", serif;
}

body {
  padding-top: 100px;
  overflow-x: hidden;
}

// Change text highlight color
::selection {
  background: lighten($color-yellow, 20); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: lighten($color-yellow, 20); /* Gecko Browsers */
}

.home-page,
.about-page,
.menu-page,
.menu-kebap-page,
.menu-pide-page,
.menu-izgara-page,
.menu-tatli-page,
.contact-page {
  min-height: 100vh;
  // padding-bottom: 40px;
}

.page-container {
  padding: 0 $horizontal-padding;
}

.page-title {
  margin: 20px 0;
  font-size: 2.1rem;
  color: $color-red;
  position: relative;

  .text-yellow {
    color: $color-yellow;
  }
}

.page-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: $color-yellow;
}

.page-paragraph {
  font-size: 1.3rem;
  line-height: 1.8;
  text-align: justify;
}

// About Page
.about-page {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fa9f42' fill-opacity='0.16'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// Menu Page
.menu-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin: 40px 0;

  .card {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      font-size: 3rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
    }
  }

  .card:hover {
    a {
      background-color: rgba($color-red, 0.8);
    }
  }

  .kebap-card {
    background-image: url("../assets/images/kebap-card-bg.jpg");
  }
  .pide-card {
    background-image: url("../assets/images/pide-card-bg.jpg");
  }
  .izgara-card {
    background-image: url("../assets/images/izgara-card-bg.jpg");
  }
  .tatli-card {
    background-image: url("../assets/images/tatli-card-bg.jpg");
  }
}

// Not Found Page
.not-found-page {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("../assets/images/not-found-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    h1 {
      color: $color-yellow;
      font-size: 5rem;
      margin-bottom: 20px;
    }

    p {
      color: #fff;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      width: 300px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      background-color: $color-light;
      color: $color-red;
      box-shadow: 3px 3px #000;
      transition: background-color 0.3s, color 0.3s;
    }

    a:hover {
      background-color: $color-yellow;
      color: $color-red;
    }
  }
}

// Responsiveness
@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .page-paragraph {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .menu-cards-container {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 425px) {
  .menu-cards-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
